* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* -webkit-user-select: none;  */
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

html {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
}

html,
body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* -webkit-user-select:none;  */
    width: 100%;
}

body {
    line-height: 1.5;
    font-size: 0.8rem;
    color: #212121;
    outline: 0;
}

a {
    color: #333;
    text-decoration-line: none;
    cursor: pointer;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

html,
body,
header,
section,
footer,
div,
ul,
ol,
li,
img,
a,
span,
em,
del,
legend,
center,
strong,
var,
fieldset,
form,
label,
dl,
dt,
dd,
cite,
input,
hr,
time,
mark,
code,
figcaption,
figure,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
    margin: 0;
    border: 0;
    padding: 0;
    font-style: normal;
    list-style: none;
}

.lf {
    float: left;
}

.rf {
    float: right;
}

.my-loading {
    width: 150px;
    height: 4px;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 100px;
    position: relative;
    background: rgba(241, 145, 66, 0.933);
    -webkit-animation: changeBgColor 1.04s ease-in infinite alternate;
    animation: changeBgColor 1.04s ease-in infinite alternate;
}

.my-loading span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(241, 145, 66, 0.933);
    position: absolute;
    margin-top: -7px;
    margin-left: -8px;
    -webkit-animation: changePosition 1.04s ease-in infinite alternate;
    animation: changePosition 1.04s ease-in infinite alternate;
}

.my-loading i {
    color: rgba(235, 109, 5, 0.933);
    font-size: 14px;
    display: block;
    width: 100%;
    text-align: center;
    line-height: 30px;
}

@-webkit-keyframes changeBgColor {
    0% {
        background: rgba(241, 145, 66, 0.933);
    }
    100% {
        background: rgba(235, 109, 5, 0.933);
    }
}

@-webkit-keyframes changePosition {
    0% {
        background: rgba(241, 145, 66, 0.933);
    }
    100% {
        margin-left: 142px;
        background: rgba(235, 109, 5, 0.933);
    }
}

.html-content main footer .entry-tags{
    display: none;
}

body {
    padding-top: 50px;
}

.header {
    width: 100%;
    background: #f3954e;
    line-height: 50px;
    height: 50px;
    color: #f3f3f3;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    box-shadow: 0 1px 10px rgba(51, 51, 51, 0.53);
}

.header .cont {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

.header .cont .more-data {
    position: absolute;
    left: 45px;
    top: 10px;
    z-index: 10;
    background: #cc5f0d;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    border-radius: 3px;
    font-size: 14px;
}

.header .cont .more-data a {
    display: block;
    width: 100%;
    height: 100%;
    color: #fff;
}

.header .cont .lf img {
    height: 40px;
    margin: 4px 0 0 2px;
}

.header .cont .rf {
    padding-right: 5px;
}
.header .notice{
    width: 460px;
    margin-left: 60px;
    color: #e4f5c7;
}

.notice-message {
    height: 35px;
    margin: 0 auto 5px;
    max-width: 960px;
    width: 100%;
    background: #333;
    color: #fff;
    box-shadow: 0 0 3px #000;
    font-size: 0.7rem;
    padding: 0 5px;
    display: flex;
    /* justify-content: center */
    align-items: center;
}
.footer {
    width: 100%;
    background: rgb(17, 17, 17);
    color: #666;
    padding: 5px;
    line-height: 30px;
    font-size: 14px;
    margin-top: 20px;
}
.footer .cont{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* 内容 */
.html-content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    border: 1px solid #eee;
    min-height: 220px;
}

.html-content li {
    line-height: 40px;
    color: #333;
    /* border-bottom: 1px dashed #eee; */
    font-size: 14px;
    cursor: pointer;
}
.html-content li a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.html-content li a:hover {
    color: rgba(235, 109, 5, 0.933);
}
.html-content nav{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #eee;
    background: #212121;
    line-height: 40px;
}    
.html-content nav li{
    float: left;
    width: auto;
    padding: 0 10px;
}
.html-content nav li a{
    color: #afaaaa;
}
.html-content nav li.current-menu-item a, .html-content nav li.current-menu-parent a{
    color: #fff;
}


/* 列表 */
.html-content main{
    display: flex;
    flex-wrap: wrap;

}
.html-content main article{
    display: inline-block;
    width: 48%;
    margin: 1%;
    padding: 10px;
    font-size: 14px;
    color: #333;
    box-shadow: 1px 5px 10px rgba(51, 51, 51, 0.14);
}
.html-content main .entry-title{
    font-size: 18px;
}
.html-content main .entry-title a:hover{
    color: #cc5f0d;
}
.html-content main .entry-meta{
    font-size: 0;
}
.html-content main .entry-meta .entry-time{
    font-size: 14px;
    color: #666;
}

.html-content main .pagination{
    margin-top: 10px;
}
.html-content main .pagination a{
    display: inline-block;
    padding: 3px;
    font-size: 16px;
    color: #cc5f0d;
}
.html-content main .pagination a:hover{
    color: #e68d49;
}

.html-content main .pagination ul{
    padding: 10px;
    min-height: 60px;
}
.html-content main .pagination li{
    float: left;
    line-height: 25px;
    min-width: 30px;
    text-align: center;
}
.html-content main .pagination li a{
    width: 100%;
    height: 100%;
    border: 1px solid #eee;
}
.html-content main .pagination li.active a{
    color: #ccc;
}

/* 详情页 */

.detail {
    padding: 10px;
    background: #fbfbfb;
}

.detail * {
    color: rgb(63, 62, 62);
}
.detail .breadcrumb{
    width: 100%;
    border-bottom: 1px double #eee;
    line-height: 40px;
}
.detail.html-content main article{
    width: 100%;
    box-shadow: none;
    margin: 0;
}
.detail article .entry-header{
    text-align: center;
}
.detail article .entry-header .entry-title{
    font-size: 22px;
}
.detail main .pagination{
    border-top: 1px solid #eee;
    padding-top: 8px;
}
.detail main .pagination a{
    color: #666;
    border: 1px solid #eee;
    padding: 0 8px;
}
.guding{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
@media screen and (max-width: 800px) {
    .notice-h5{
        display: none;
    }
}
@media screen and (max-width: 600px) {
    .header .cont .rf {
        padding-right: 5px;
    }
    .notice-message {
        height: 30px;
        line-height: 30px;
    }
    .h5-display{
        display: none;
    }
    
    .html-content {
        border: 0;
    }
    .html-content li {
        line-height: 32px;
    }
    .html-content main article{
        width: 100%;
        margin: 0 5px;
    }
    /* .pagination {
        font-size: 0;
        margin-top: 0;
    } */
    /* 详情页 */
    .detail{
        padding: 5px;
    }
}